<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home" routerLink="/home">Best Recipes</a>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipe/favorites" routerLink="/recipe/favorites">Favorite's Recipes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>