.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    width: 50%;
}

.login-button {
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
}