<div class="login-page">
    <form class="login-form" [formGroup]="formLogin" (ngSubmit)="onLogin()">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" formControlName="email" />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>
    
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" formControlName="password" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

    
        <!-- Submit button -->
        <div class="login-button">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" [disabled]="!formLogin.valid">Login</button>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="/register" routerLink="/register">Register</a></p>
        </div>
    </form>
</div>