.recipe-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.recipe-home-table {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-actions {
    display: flex;
}

.btn-actions button {
    margin-left: 10px;
}

.list-empty {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}