<app-navbar></app-navbar>
<div class="edit-page">
    <!-- Titulo -->
    <form class="edit-form" [formGroup]="formRecipe" (ngSubmit)="onCreate()">

        <!-- Name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" formControlName="name" />
            <label class="form-label" for="form2Example1">Name</label>
        </div>
        
        <!-- Description input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <textarea type="text" id="form2Example1" class="form-control" formControlName="description" rows="5"></textarea>
            <label class="form-label" for="form2Example1">Description</label>
        </div>
    
        <!-- Duration input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="form2Example2" class="form-control" formControlName="duration" />
            <label class="form-label" for="form2Example2">Duration</label>
        </div>

        <!-- Difficulty input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="form2Example2" class="form-control" formControlName="difficulty" />
            <label class="form-label" for="form2Example2">Difficulty</label>
        </div>

        <!-- Category input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example2" class="form-control" formControlName="category" />
            <label class="form-label" for="form2Example2">Category</label>
        </div>

        <!-- Ingredients input -->
        <!-- <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example2" class="form-control" formControlName="category" />
            <label class="form-label" for="form2Example2">Ingredients</label>
        </div> -->

    
        <!-- Submit button -->
        <div class="edit-button">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" [disabled]="!formRecipe.valid">{{buttonText}}</button>
        </div>
    </form>
</div>